@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}

html, body {
    height: 100vh;
    background-image: linear-gradient(90deg, rgba(144, 245, 154, 1), rgba(4, 202, 255, 1));
}

.img-header {
    position: relative;
}

.img-header h1 {
    color: white;
    font-size: 300px;
}

.img-header h3 {
    color: white;
}

.img-header img {
    width: 100%;
    height: 70vh;
    object-fit: cover;
}